<!-- Navigation -->
<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <a class="navbar-brand" href="/#/">Finterest</a>
    <div class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <!-- Search Bar -->
        <input type="text" class="form-control navbar-search" placeholder="Search" ng-model="searchTerm" />
        <!-- Search Button -->
        <button id="single-button" class="btn btn-primary"><a class="search-btn" id="searchTerm" ng-click="setTerm()" href="/#/search">Search</a></button>
      </div>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><input type="text" placeholder="Add a pin!"class="form-control navbar-search">
        <li><input type="text" placeholder="Category?"class="form-control navbar-search">
        <button id="single-button" class="btn btn-primary">Pin!</button></li>
        <li><a href="/#/userToBeChangedViaRoute">Username</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- Pinterest style Cascading of Material -->
<div id="wrapper">
  <div id="columns">



    <div class="pin" ng-repeat="fullPhotoObject in flickrSearchPhotos">
      <img src={{fullPhotoObject.url_o}} />
      <p>
        {{fullPhotoObject.title}}
      </p>
    </div>
  


  </div>
</div>