<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Finterest</title>
    <link rel="stylesheet" href="./lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/main.css">
  </head>
  <body ng-app="FinterestScript">


    <!-- Navigation -->
    <nav class="navbar navbar-default">
    <div class="container-fluid">

        <a class="navbar-brand" href="/#/">Finterest</a>

        <div class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <ul class="nav navbar-nav navbar-right">
                <!-- Search Bar -->
                <li><input type="text" class="form-control navbar-search" placeholder="Search" ng-model="searchTerm" /></li>
                <!-- Search Button -->
                <li><button id="single-button" class="btn btn-primary"><a class="search-btn" id="searchTerm" ng-click="setTerm()" href="/#/search">Search</a></button></li>
            </ul>
          </div>
        </div>

        <div class="navbar-form navbar-right" role="add-pin">
           <div class="form-group">
              <ul class="nav navbar-nav navbar-right" ng-controller="AuthCtrl">
                <li><input type="text" placeholder="Add a pin!"class="form-control navbar-search" ng-model="user_provided_url"></li>
                <li><input type="text" placeholder="Category?"class="form-control navbar-search" ng-model="user_corresponding_category"></li>
                <li><button id="single-button" class="btn btn-primary" ng-click="acquire_article()">Pin!</button></li>
                <li><a href="/#/{{userId}}">Welcome, {{ user_name }}</a></li>
              </ul> <!-- /ng-controller -->
            </div>
        </div>


      </div><!-- /.container-fluid -->
    </nav>





    <section ng-controller="AuthCtrl"></section>

    <section ng-controller="MainPinCtrl"></section>


    <!-- Front page view -->
    <div ng-view></div>


    <!-- JAVASCRIPT LAND -->
    <script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="lib/bower_components/angular/angular.min.js"></script>
    <!-- <script src="lib/bower_components/angular-bootstrap/ui-bootstrap.js"></script> -->
    <script src="lib/bower_components/angular-route/angular-route.js"></script>
    <script src="lib/bower_components/firebase/firebase.js"></script>
    <script src="lib/bower_components/angularfire/dist/angularfire.min.js"></script>




    <script src="javascripts/app.js"></script>
    <script src="javascripts/factories/auth-data.js"></script> 

    <script src="javascripts/auth.js"></script> 
    <script src="javascripts/controllers/main.js"></script> 





    <script src="javascripts/factories/history-factory.js"></script> 
    <script src="javascripts/factories/pictures-factory.js"></script> 
    <script src="javascripts/factories/search-factory.js"></script> 
    <script src="javascripts/controllers/main.js"></script> 
    <script src="javascripts/auth.js"></script> 
    <script src="javascripts/controllers/search.js"></script> 
    <script src="javascripts/controllers/user-boards-controller.js"></script> 



  </body>
</html>